# Ignore go configs.
**/go/*
# Private/unwanted configs.
.config/systemd
.config/dconf
.config/QtProject.conf
.config/btop
.config/discord
.config/libreoffice
# Wallpaper symlink.
.config/i3/wallpaper
