# Ignore everything
.config/*
# Except the important bits
!.config/btop/btop.conf
!.config/btop/themes
!.config/dunst
!.config/fd
!.config/hypr
!.config/kitty
!.config/nvim
!.config/ohmyposh
!.config/rofi
!.config/waybar
!.config/yazi
