// define colors etc.
* {
    transparent: rgba(46,52,64,0);
    bg: rgba(30, 30, 46, 0.3);
	kl: #9399b2;
    bd: rgba(30, 30, 46, 1);
    hv: #b4befe;
    black: #000000;
    primary: #C5C8C6;
    background-color: @bg;
    border: 0px;
	font: "Blex Mono Nerd Font 14";
}

// defines different aspects of the window
window {
    width: 1080;
    /*since line wont work with height, i comment it out
    if you rather control the size via height
    just comment it out */
    // height: 500;

    orientation: horizontal;
    location: center;
    anchor: center;
    transparency: "real";
    border-color: @transparent;
    border: 0px;
    border-radius: 3px;
    spacing: 0;
    children: [ mainbox ];
}

mainbox {
    spacing: 0;
    children: [ inputbar, message, listview ];
}

inputbar {
    color: @kl;
	background-color: @bd;
    padding: 11px;
    border: 4px 4px 4px 4px;
    border-color: @bd;
    border-radius: 3px 3px 0px 0px;
	children: [ prompt, entry, case-indicator ];
}

message {
    padding: 0;
    border-color: @primary;
    border: 0px 1px 1px 1px;
}

entry, prompt, case-indicator {
    text-font: inherit;
    text-color: inherit;
}

#prompt {
	enabled: false;
}

entry {
    cursor: pointer;
}

prompt {
	expand: false;
    margin: 0px 5px 0px 0px;
}

listview {
    layout: vertical;
    padding: 8px;
    lines: 10;
    columns: 1;
    border: 0px 4px 4px 4px;
    border-radius: 0px 0px 3px 3px;
    border-color: @bd;
    dynamic: false;
	require-input: true;
}

element {
	background-color: @transparent;
    padding: 2px;
    vertical-align: 1;
    color: @kl;
    font: inherit;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element selected.normal {
    color: @black;
    background-color: @hv;
    border: 2px 0px 2px 2px;
    border-radius: 3px 3px 3px 3px;
    border-color: @hv;
}

element normal active {
    background-color: @hv;
    color: @black;
}

element-text, element-icon {
    background-color: inherit;
    text-color: inherit;
}

element normal urgent {
    background-color: @primary;
}

element selected active {
    background-color: @hv;
    color: @black;
    1order: 1px 1px 1px 1px;
    border-radius: 3px 3px 3px 3px;
    border-color: @hv;
}

button {
    padding: 6px;
    color: @primary;
    horizonatal-align: 0.5;

    border: 2px 2px 2px 2px;
    border-radius: 4px 0px 0px 4px;
    border-color: @primary;
}

button selected normal {
    border: 2px 0px 2px 2px;
    border-color: @primary;
}

scrollbar {
    enabled: true;
}
